
* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font: 13px/20px "Open Sans",sans-serif;
    color: black;
    background: #fff;
    font-weight: 300;
}

div,form,fieldset,legend,label,p {
    margin: 0;
    padding: 0;
}

form {
    display: inline;
}

a {
    border: none;
    outline: none;
    text-decoration: none;
    color: #606366;
    -webkit-transition: all .2s ease-in-out; 
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

i {
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}

a:active,a:hover {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
    width: 100%;
    border-radius: 5px;
}

h1,h2,h3,h4,h5,h6,td,caption {
    font-weight: 400;
}

h4 {
    font-size: 2.3em;
    line-height: 40px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 0;
}

.clear-both {
    clear: both;
}

.space-20 {
    margin-top: 20px;
}
.space-20_bt {
    margin-bottom: 20px;
}
.space-40 {
    margin-top: 40px;
}

.space-50 {
    margin-top: 50px;
}
.space-100 {
    margin-top: 100px;
}

/*===============================
    TYPOGRAPHY
=================================*/



.space10 {
    line-height: 10px;
}

.beta-relative {
    position: relative;
    height: 100%;
}

.ov {
    overflow: visible !important;
}

input[type="text"],input[type="email"],input[type="url"],textarea {
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 37px;
    padding: 0 12px;
}

a i {
    color: #f90;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.l-inline {
    list-style: none;
    overflow: hidden;
}

.l-inline li {
    float: left;
    position: relative;
}


/*==================================
    HEADER SECTION
====================================*/

.logo {
    font-size: 20px;
}

.pull-left {
    margin-top: 10px;
}

#logo img {
    margin-bottom: 13px;
}

.header-bottom {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

/* slide */
.w-100 {
    height: 350px;
}


/*===================================
    NAVIGATION
=====================================*/

.header-body {
    padding: 20px 0 0;
    height: 115px;
}

.main-menu {
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 400;
}

.main-menu a {
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

/* account */
.account {
    margin-top: 10px;
}

.icon-name {
    font-size: 18px;
    margin-left: 5px;
}
.logout {
    font-size: 18px;
}


/*==============================
    PAGE CART
================================*/
.table-wrap {
    max-width: 100%;
}
.cart-table {
    width: 100%;
}

.cart-table th {
    padding: 30px 15px;
    border: none;
    font-size: 18px;
}
.cart-row {
    border-top: 1px solid #e6e6e6;
}
.cart-row td {
    padding: 30px 15px;
    border: none;
    text-align: center;
}
.text-center {
    text-align: center !important;
}
.cart-image img {
    width: 250px;
}
.cart-namep {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding: 20px;
}
.cart-remove {
    font-size: 15px;
}
.cart-info {
    font-size: 18px;
}
.inf_p {
    text-align: left !important;
}

.check-form {
    margin-left: -15px;
}
.check-form label {
    font-size: 15px;
    padding: 0;
    height: 15px;
}
.check-form input {
    margin-bottom: 25px;
    height: 30px;
}
.check-form textarea {
    height: 60px;
}
.inf-checkout {
    text-align: right;
    margin-right: -15px;
}
.inf-checkout p {
    font-size: 15px;
}
.checkout-total {
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
.checkout-btn {
    font-size: 15px;
    padding: 11px 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: royalblue;
    margin: 15px 0px 0px 12px;
}


/*==============================
    SUBMENU
================================*/

.sub-menu, .children {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    z-index: 100;
    list-style: none;
    background: lightblue;
} 

.main-menu>ul.l-inline>li>a {
    padding: 10px 35px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.main-menu>ul.l-inline>li>a:hover {
    background: #3a5c83;
    color: #fff;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.main-menu ul li > .sub-menu {
    position: absolute;
}
.main-menu ul li:hover .sub-menu {
    display: block;
}
.sub-menu li {
    margin-left: 0 !important;
    background: lightblue;
    padding: 10px 28px;
    overflow: hidden;
}
.sub-menu li:hover {
    background: lightgray;
}
.sub-menu a {
    color: black;
}
/*===============================
    CONTENT
=================================*/









/*===============================
    SIDEBAR
=================================*/



/*===============================
    SHOP
=================================*/



/*===============================
    PRODUCT 
=================================*/

.list-product {
    margin-top: 60px;
}

.product-details {
    font-size: 15px;
    margin-bottom: 17px;
}

.product-header {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-header img {
    transition: all 0.5 ease-in-out;
    height: 200px;
}

.product-header:hover img {
    transform: scale(1.3,1.3);
}

.product-title {
    font-size: 17px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-price {
    font-size: 20px;
    color: blue;
    text-align: center;
    font-weight: 500;
}

.p_unit_price {
    font-size: 17px;
    color: gray;
}

.product-caption {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 8px;
}

.add-to-cart {
    background-color: #3a5c83;
    height: 35px;
    width: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
}

.add-to-cart i {
    font-size: 22px;
    color: #fff;
    line-height: 35px;
}

.product:hover a.add-to-cart {
    background: #f90;
}

.beta-btn {
    border: 1px solid #57a7c6;
    display: inline-block;
}

.beta-btn.primary {
    color: #606366;
    padding: 10px 20px;
    line-height: 100%;
}

.beta-btn.primary:hover {
    color: #fff;
    background: #3a5c83;
}

.product {
    /* border: 1px solid lightskyblue; */
    background: lightcyan;
    box-shadow: 5px 3px 3px #E6E6E6;
    
}

.product:hover > .product img {
    border-radius: 5px;
}
.link_product {
    margin-top: 50px;
}
.link_product .page-item {
    margin-right: 5px;
}
.link_product .pagination li a {
    background: lightskyblue;
}

.list-product h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: blue;
}

.space_bt {
    margin-bottom: 30px;
}


/*======================
    PAGE PAGINATE
========================*/
.page_paginate {
    margin-top: 30px;
}

.page-item.disabled .page-link {
    font-size: 13px;
    background-color: lightskyblue;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.page-item {
    margin-right: 15px;
}
.page-item.active {
    border-radius: 5px;
}
.page-item.active .page-link {
    border-radius: 10px;
    font-weight: bold;
}
.pagination li a {
    background: lightskyblue !important;
    border-color: lightskyblue !important;
    font-weight: bold;
    border-radius: 8px;
}


/*
.disabled {
    margin-right: 15px;
}
.page-item .page_link {
    font-size: 10px;
} */


/*======================
    SINGLE ITEM
========================*/

.beta-dropdown {
    display: none;
}

.beta-components {
    overflow: hidden;
    margin-top: 10px;
}
.beta-components.space-left .beta-comp {
    margin-left: 7px;
    margin-right: 10px;
}

.beta-comp {
    float: left;
}


/*================================
    FORM
==================================*/
.content {
    height: 450px;
}
#page-wrapper {
    background: #e6e6e6;
}
.grid {
    width: 100%;
    text-align: center;
}
.grid_item {
    left: 33.333%;
    width: 33.333%;
    display: inline-block;
}
.grid_item h1 {
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #e6e6e6;
}
.form-vertical input {
    margin-bottom: 10px;
    display: block;
    background: #e6e6e6;
    width: 100%;
    border: none;
    height: 37px;
    padding: 0 15px;
}
.btn-full {
    width: 100%;
}
.btn {
    padding: 8px 10px;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #515783 !important;
    color: #fff;
}
.form-vertical a {
    text-decoration: none;
    color: blue;
}





/*=================================
    SEARCH FORM
===================================*/

#searchform {
    position: relative;
    width: 218px;
    display: flex;
    border: 2px solid lightskyblue;
    border-radius: 50px;
    overflow: hidden;
}

#searchform #s {
    padding-right: 25px;
    border-radius: 50px;
    overflow: hidden;
    border: none;
}

/* #searchsubmit {
    position: absolute; 
    right: 6px;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
} */
.search {
    border: none;
    background: dodgerblue;
    width: 50px;
    color: #fff;
    font-weight: 500;
}


/*=================================
    CART
==================================*/

/* .cart {
    margin: 20px 0;
    float: right;
    background: lightskyblue;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
} */

.cart .cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.cart-total {
    float: right;
    margin-right: 96px;
    font-size: 15px
}
.total {
    color: #ABB0BE;
}
.total-money {
    color: #6394F8;
}

.total {
    color: #ABB0BE;
}

.total-money {
    color: #6394F8;
}

.cart .cart-items {
    padding-top: 20px;
    list-style-type: none;
}

.cart .cart-items li {
    margin-bottom: 18px;
}

.cart .cart-items img {
    float: left;
    margin-right: 12px;
    width: 50px;
    height: 50px;
}

.cart .cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 13px;
}

.cart .cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.cart .cart-items .item-quantity {
    color: #ABB0BE;
}

.checkout {
    background: #0099aa;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}


.cart-select {
    vertical-align: middle;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

#select-cart {
    float: right;
}
#select-cart .beta-select {
    float: right;
}

/* .cart {
    display: none;
} */

/* .beta_cart:hover .cart {
    display: block;
} */

.cart-dropdown {
    position: absolute;
    z-index: 999;
    background: aquamarine;
    padding-left: 10px;
    width: 260px;
    margin-top: 35px;
    margin-left: -143px;
    border-radius: 10px;
    display: none;
}

.caption-cart .order {
    border: none;
    background: deepskyblue;
    padding: 8px 56px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin: 20px 15px;
    border-radius: 8px;
}

.cart-items span .icon-delete {
    color: red;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    margin-top: -10px;
}

/*=================================
    PRODUCT
===================================*/
.bread-crumb {
    font-size: 15px;
    background: aliceblue;
}
.breadcrumb {
    background: aliceblue;
    padding-bottom: 0;
}
.pageago a {
    font-size: 15px;
    margin-right: 10px;
}
.pageago .sp i {
    font-weight: bold;
    margin-right: 10px;
}
.pagenow {
    font-weight: 300;
    color: blue;
}
.product_sidebar {
    margin-top: 30px;
    background: aliceblue;
    padding-top: 20px;
}
.sidebar-title {
    font-size: 18px;
    font-weight: bold;
}
.sidebar-content ul {
    list-style: none;
    font-size: 15px;
    margin-top: 15px;
}
.sidebar-content ul li {
    margin-top: 10px;
}
.filter-item {
    display: block;
    position: relative;
    /* width: 19%; */
    margin: 0 auto;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
}
input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

label {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 10px;
    padding: 5px 10px 5px 30px;
    margin: 5px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
.circle {
    margin-left: -27px;
}
/* .outer-circle::before,.circle::before,.circle_price::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
} */
.click-circle:before {
    content: '';
    margin: -4px -30px;
    border-radius: 50%;
    border: 5px solid #aaa;
    line-height: 40px;
    position: absolute;
    height: 18px;
    width: 18px;
    background: #fff;
}
.click-circle::after {
    content: "";
    border-radius: 50%;
    background: #6394F8;
}
.outer-circle {
    display: block;
    position: absolute;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    margin-top: -34px;
    border: 3px solid #AAAAAA;
    -webkit-transition: all 0.25s linear;
}

input[type=radio].circle_price:checked ~ .outer-circle {
    border: 3px solid #009999;
}
input[type=radio].circle:checked ~ .outer-circle::before{
    background: #009999;
}


input[type=checkbox].circle:checked ~ .click-circle::before {
    border: 5px solid dodgerblue;
}
input[type=checkbox].circle:checked ~ .click-circle::after {
    background: blue;
}



/*=================================
    ORDER PRODUCT
===================================*/
#home-order {
    background-image: url("../images/slide/banner2.jpg");
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.order-form {
    background: rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 640px;
    border-radius: 10px;
    margin: 0 0 0 60px;
    padding: 15px;
}
.title-text h3 {
    font-size: 32px;
    color: deepskyblue;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 30px 0;
}
#home-order .order-content label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    padding: 15px 0 0 0;
}
.input-full {
    border-radius: 10px;
    outline: 0px;
}
.order-content form textarea {
    height: 100%;
}




/*=================================
    SORT PRODUCT TYPE
===================================*/
/* .pt_sort {
    display: inline-block;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 5px;
}
#sort {
    float: left;
    font-size: 12px;
    text-align: left;
}
#sort label {
    float: left;
    font-weight: 400;
    line-height: 33px;
    font-size: 15px;
    margin-right: 6px;
    margin-bottom: 0;
    color: #000;
}
#sort ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    float: right;
}
#sort li {
    border: 1px solid #e5e5e5;
    font-size: 13px;
}
#sort li:hover>ul {
    visibility: visible;
} */
.pt_sort {
    display: inline-block;
    padding: 0;
    width: 100%;
    padding-bottom: 5px;
}
.h1_title {
    font-size: 24px;
    margin-top: 30px;
    margin-left: 0px;
}
ul {
    list-style: none;
}
#sort {
    display: flex;
    margin-top: 25px;
}
#sort label {
    margin: 0;
    padding-left: 0px;
    font-size: 13px;
}
.col_ul {
    display: inline;
    float: right;
    margin-top: -5px;
}
.col_ul li span {
    margin-left: 15px;
}

#sort li {
    width: 180px;
    margin: 0 auto;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    font-size: 13px;
    color: #333;
    position: relative;
}
#sort>ul>li {
    padding: 5px;
}
#sort ul ul {
    position: absolute;
    visibility: hidden;
    width: 180px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding-left: 0;
    left: -1px;
    top: 30px;
    z-index: 200;
    background: #fff;
}
#sort li:hover>ul {
    visibility: visible;
}
#sort li li {
    width: 100%;
    border-top: 0px;
    border-right: none;
    border-left: none;
}
#sort li>a{
    display: inline-block;
    width: 100%;
    line-height: 36px;
    transition: all 0s ease-in-out;
}
#sort li li a:hover {
    color: blue;
}


/*=================================
    PAGINATION
===================================*/
.paginate {
    margin: 30px 0;
    display: flex;
}
.paginate span {
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    padding-top: 4px;
}
.paginate .pagination {
    margin-bottom: 0;
}
.pagination li a {
    background: dodgerblue;
    border-color: dodgerblue;
    color: #fff;
    display: block;
    border: 0;
}
.pagination .page_link {
    margin: 0 2.5px;
    width: 30px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
}


/*=================================
    PRODUCT
===================================*/
.p_title .p_name {
    font-size: 20px;
    font-weight: bold;
}
.p_price {
    margin-top: 25px;
    display: inline-flex;
}
.p_price p.sale_price {
    font-size: 25px;
    font-weight: bold;
    color: blue;
    margin-right: 20px;
}
.p_price del.now_price {
    font-size: 18px;
    color: gray;
    font-weight: bold;
    padding-bottom: 0px;
}
.lb_soluong {
    margin-bottom: 10px;
    padding: 0;
}
.soluong .p_number {
    width: 180px;
    display: inline-flex;
}
.p_number .button_quty_left {
    border: none;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;  
}
.p_number .button_quty_right {
    border: none;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;  
}
.p_number .button_quty {
    font-size: 14px;
    border: 1px solid #ebebeb;
    display: inline-block;
    width: 45px;
    height: 45px;
    color: #999;
    padding: 0;
    position: relative;
    line-height: 43px;
    background: #f5f5f5;
    outline: none;
}
.p_number input {
    margin: 0 3px;
    display: block;
    height: 45px;
    border: 1px solid #ebebeb;
    width: 80px;
    text-align: center;
    font-size: 15px;
    box-shadow: none;
    padding: 0;
    background: transparent;
}
.p_number i {
    font-size: 12px;
    font-weight: 900;
    color: #000;
}
.button_addcart {
    display: inline-block;
    margin-top: 25px;
    position: relative;
}
.button_addcart .add_cart {
    border: none;
    padding: 10px 15px;
    background: dodgerblue;
    border-radius: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.add_cart a {
    color: #fff;
    border: none;
}
.add_cart:hover {
    background: blue;
}
.info-des {
    display: block;  
}
.p_info-des .info-des_title {
    margin-bottom: 0;
    padding-left: 0;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
.p_info-des .tab_link {
    display: inline-block;
    padding: 0 0;
    position: relative;
    margin: 0 40px 0 0;
}
.p_info-des .tab_link h3 {
    color: #000;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.4;
}
.p_info-des .tab_link span {
    text-transform: uppercase;
}
.p_info-des .tab_link h3:after {
    content: "";
    width: 100%;
    height: 2px;
    background: blue;
    position: relative;
    left: 0;
}
.active {
    background: lightgray;
}
.tf_content {
    display: none;
}
.tf_content p {
    font-size: 14px;
    margin-top: 20px;
    line-height: 25px;
}

/*sp liên quan*/
.product_left h3{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.p_left-item:first-child {
    margin-top: 0;
}
.p_left-item {
    padding: 20px;
    display: inline-flex;
    border-bottom: 1px solid #eee;
}
.p_left-item a {
    margin-right: 10px;
}
.pl_body {
    display: flex;
    flex-direction: column;
}
.pl_body .pl_name {
    float: left;

}
.pl_price {
    color: blue;
    font-weight: 600;
    font-size: 15px;
}
.product_list h4 {
    font-size: 21px;
    font-weight: 600;
}


/*=================================
    SHOPPING_CART
===================================*/
.pagecart_title {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.cart_table {
    width: 100%;
}
.cart_table th {
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #f6f6f6;
    font-size: 18px;
    border-right: 1px solid #eee;
}
.tablecart_item td {
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    text-align: center;
    padding: 30px;
    border-left: 1px solid #f1f1f1;
}
.tablecart_item td .item-name {
    font-size: 15px;
    margin-left: 5px;
}
.tablecart_item .tb_pprice {
    font-size: 15px;
    color: blue;
}
.tb_number {
    display: inline-flex;
}
.remove_item_cart {
    font-size: 20px;
}
.remove_item_cart i {
    color: lightcoral;
}

/*=================================
   
===================================*/



/*=================================
  
===================================*/


/*=================================
  
===================================*/


/*=================================
   
===================================*/


/*=================================
  
===================================*/


/*===============================
    MEDIA QUERY
=================================*/
@media(max-width: 1700px) and (min-width: 769px) {
    ul.l-inline.ov {
        display: block !important;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/*=================================
    FOOTER
===================================*/
.bground-footer {
    background: #1f2a37;
    color: #fff;
    margin: 0;
}

.footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 span {
    font-size: 0.9em;
}

.list-style {
    list-style: none;
}

.item-footer {
    line-height: 30px;
    font-size: 15px;
}

.ddiem {
    margin-right: 10px;
    color: orange;
}

.footer p {
    font-size: 15px;
}

/* #email {
    margin-top: 20px;
    margin-top: 10px;
    border-radius: 20px;
} */
.nhan-info {
    border: none;
    display: inline-flex;
    width: 92%;
    margin-top: 10px;
}
.button-footer {
    border: none;
    width: 50px;

}
.fa-paper-plane {
    font-size: 20px;
}
.list-menu-footer {
    font-size: 15px;
    line-height: 23px;
}
.list-menu-footer li a {
    color: #fff;
    text-decoration: none;
}
.list-media {
    display: flex;
    margin-top: 18px;
}
.list-media li {
    margin-right: 10px;
}
.list-media li a i {
    font-size: 30px;
    color: #BDBDBD;
}
.last-f {
    height: 50px;
    background: black;
    color: #fff;
    font-size: 13px;
    padding-top: 15px;
    text-align: center;
}